/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
./idea
.idea/
.editorconfig
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.old.git